.image-loader{

  .animated{
    width: inherit;
    height: inherit;
  }

  .show{
    display: inline;
  }

  .hide{
    display: none;
  }

  img {
    object-fit: inherit;
    width: inherit;
    height: inherit;
  }

  .loading {
    background: linear-gradient(90deg, #EEEEEE, #CFCFCF);
    background-size: 400% 400%;
    animation: Gradient 5s ease infinite;
  }

  @keyframes Gradient {
    0% {
      background-position: 0% 50%
    }
    50% {
      background-position: 100% 50%
    }
    100% {
      background-position: 0% 50%
    }
  }
}
