.product-loading {
  position: absolute;
  width: 100vw;
  top: 40%;
  text-align: center;

  .loading-dots {
    transform: scale(1.2, 1.2);
    margin-bottom: 15px;
    > div {
      background: var(--color-highlight);
    }
  }

  > div {
    margin-top: 10px;
  }
}
