@font-face {
    font-family: 'Open Sans';
    src:  url('../assets/fonts/open-sans-v15-vietnamese_latin_greek-ext_cyrillic_greek_cyrillic-ext_latin-ext-regular.woff2') format('woff2'),
          url('../assets/fonts/open-sans-v15-vietnamese_latin_greek-ext_cyrillic_greek_cyrillic-ext_latin-ext-regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}
